@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(./images/page-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    padding: 0 35px;
}
nav img{
    height: 30px;
}
nav button img{
    height: 13px;
    width: 18px;
    margin-left: 5px;
}
.english{
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding: 5px 20px;
    margin-right: 8px;
    cursor: pointer;
}
.signIn{
    background-color: #E50914;
    border: none;
    color: white;
    padding: 3px 8px;
    font-size: 18px;
    cursor: pointer;

}
.main-container{
    width: 70%;
    margin: auto auto;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-container h1{
    color: white;
    font-size: 45px;
    font-weight: 500;
    width: 60%;
    text-align: center;
}
.main-container h2{
    color: white;
    font-size: 18px;
    margin: 10px 0;
    font-weight: 400;
}
form{
    display: flex;
}
input{
    border: none;
    outline: none;
    background-color: white;
    height: 50px;
    width: 480px;
    padding-left: 10px;
    margin-right: 8px;
}
input::placeholder{
    color: rgba(0, 0, 0, 0.5);
}
form button{
    background-color: #E50914;
    border: none;
    outline: none;
    height: 50px;
    width: 180px;
    color: white;
    font-size: 20px;
    text-align: center;
    cursor: pointer;

}
form button img{
    height: 15px;
    margin-left: 8px;
}
