@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
}

#first-section{
    min-height: 80vh;
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,1)), url(./images/Peaky\ Blinders.png);
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4rem;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#first-section .title-container{
    margin-bottom: 25px;
}
.title-container h3{
    font-size: 17px;
    font-weight: lighter;
}
.title-container h1{
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
    
}
.title-container h2{
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
}
#first-section .icon-div{
    display: flex;
    align-items: center;
}
#first-section .icon-div button{
    background-color: rgb(184, 29, 36, 0.6);
    border: none;
    outline: none;
    padding: 8px 30px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 10px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: lighter;
}
#first-section .icon-div button img{
    height: 12px;
    margin-right: 5px;
}

#first-section span{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    background-color: rgb(255, 255, 255, 0.3);
}

#second-section{
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,1), #221F1F);
    min-height: 42vh;
    display: flex;
    color: white;
    align-items: center;
    padding: 0 3rem;
}
#second-section .left-container{
    width: 70%;
    color: white;
}
#second-section .left-container .header{
    font-weight: lighter;
    font-size: 17px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
#second-section .left-container .header .match{
    color: #1F9C1F;
    margin-right: 5px;
}
#second-section .left-container img{
    margin-left: 5px;
    height: 18px;
}
#second-section .text{
    font-size: 16px;
    font-weight: lighter;
    border: 1px solid white;
    width: fit-content;
    height: 18px;
    margin-bottom: 2.5rem;
}
#second-section .left-container .maintext{
    width: 90%;
    font-size: 17px;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 24px;
}

#second-section .right-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.right-container h4{
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 10px;
    width: 70%;
    
}
.right-container h4 .content{
    color: white;
    text-align: left;
    width: 60%;
}

.right-container h4 .title{
    margin-right: 3px;
    color: rgb(255, 255, 255, 0.8);
}

#third-section{
    min-height: 100vh;
    background: #221F1F;
    padding: 0 3rem;
    
}
#third-section .top .episode{
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#third-section .top{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#third-section .top .episode h1{
    font-size: 32px;
    font-weight: lighter;
    color: white;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}
#third-section .top .episode button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    height:  38px;
    padding: 0px 15px;
    background-color: #221F1F;
    color: white;
    padding: 12px 18px;
    font-size: 15px;
}
#third-section .top .episode button img{
    margin-left: 8px;
    height: 6px;
}


#third-section  .first{
    font-size: 20px;
    margin-right: 5px;
    font-weight: lighter;
}
#third-section .tag{
    font-size: 15px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: white;
    margin-bottom: 2rem;
    letter-spacing: 1.5px;
    font-weight: lighter;

}
#third-section .text{
        font-size: 16px;
        font-weight: lighter;
        border: 1px solid white;
        width: fit-content;
        height: 18px;
        color: white;
        margin: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px;
}

hr{
    margin-bottom: 1rem;
}

#third-section .one, #third-section .two{
    display: flex;
    align-items: center;
    height: 250px;
    padding: 0 3.5rem;
    cursor: pointer;
    color: white;
}
#third-section .one h1, #third-section .two h1{
    font-size: 50px;
    margin-right: 5rem;
}
#third-section .one img, #third-section .two img{
    height: 150px;
    width: fit-content;
    margin-right: 2rem;
}

#third-section .one .top, #third-section .two .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 88%;
    margin-bottom: 2.5rem;
}

#third-section .one h2, #third-section .two h2{
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1.5px;
}
#third-section .one p, #third-section .two p{
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 1.5px;
    width: 84%;
    color: #D5D6D0;
    line-height: 24px;
}